//主色调
$dominant-hue:#f73352;

$select-borderColor:#c1c1c1;
$select-cutOff-lineColor:#e6e6e6;
$select-hoveBgColor:#ebf5ff;
$select-activeBgColor:#f5faff;
$select-loadMore-fontColor:#626161;

$header-bootom-line-color:#d8d8d8;
$calender-select-hover-bgColor:#fee5e9;
$form-th-bgColor:#f8f8f8;//表格表头背景颜色
$td-border-color:#eee;//表格td边框色
$table-column-min-width:50px;//表格默认最小列宽
$label-table-fontColot:#626161;
$font-default-color: #6f6f79;//字体默认颜色
$table-header-bg-color:#e1e9f4;//表格头部颜色

$pagination-fontColor:#5c5c5c;//分页字体颜色

