$dominant-hue:#f73352;
$dialog-shadow-bgColor:rgba(49,49,49,0.3);
$dialog-width:500px;
$dialog-border-color:#eee;
$dialog-border-radius:5px;
$dialog-box-shadow-color:rgba(255,255,255,0.3);
$dialog-header-bgColor:#fafafa;
$dialog-header-height:50px;
$dialog-header-title-fontColor:#272733;
@mixin fullScreen{
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}
.modal-box{
  position: absolute;
 @include fullScreen;
  display: flex;
  flex-wrap:wrap;/*设置或检索伸缩盒对象的子元素超出父容器时是否换行,nowrap不换行，wrap换行*/
  justify-content:center ;/*space-between 头尾各靠两边，中间均分*//*flex-start | flex-end | center | space-between | space-around*/
  align-content:center;//纵向显示方式
  .modal-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $dialog-shadow-bgColor;
  }
  .modal-dialog{
    width:$dialog-width;
    min-height: 200px;
    background-color: #fff;
    border-radius: $dialog-border-radius;
    box-shadow:$dialog-box-shadow-color;
    z-index: 200;
    overflow: hidden;
    header{
      height:$dialog-header-height;
      background-color: $dialog-header-bgColor;
      display: flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      align-content:center;
      padding: 0 15px;
      border-bottom: 1px solid $dialog-border-color;
      p{
        font-size: 18px;
        color: $dialog-header-title-fontColor;
        font-weight: 400;
        line-height: $dialog-header-height;
      }
      .cancleSign:after{
        content: "\2716";
        font-size: 18px;
        color: $dialog-header-title-fontColor;
        transition: all .1s linear;
      }
      .cancleSign:hover:after{
        color: $dominant-hue;
        cursor: pointer;
        transition: all .1s linear;
      }
    }
    section{
      padding:15px;
    }
  }
}