
@import "../../../asset/style/dominant.scss";

//分页样式
.pagination-mod{
  padding: 20px 20px;
  .operation{
    padding: 0 0 6px 0;
    b{padding: 0 10px}
    span{
      font-size:14px;
      color: $pagination-fontColor;
      label {
        padding-left:8px;
      }
      select{
        vertical-align: middle;
        position: relative;
        top:-1px;
        width: 50px;
        height: 28px;
        padding:0 5px;
        margin: 0 6px;
      }
    }
  }
  .pull-left{
    display:inline-block;
    .confir{
      background-color: transparent;
      border: 1px solid $header-bootom-line-color;
      border-radius: 3px;
      width:50px;
      height: 25px;
      line-height: 25px;
      margin-left: 10px;
      font-size: 14px;
      padding: 0;
      color: $pagination-fontColor;
      transition: all .1s linear;
      cursor: pointer;
      &:hover{
        border: 1px solid $dominant-hue;
        color: $dominant-hue;
        transition: all .1s linear;
      }
    }
    .modalPagina{
      padding-left: 5px;
      margin-right: 5px;
    }
  }
  .pull-right{
    float: right;
  }
  .oper-gopage {
    margin-left: 20px;
    float:right;
    input {
      width: 48px;
      height: 25px;
      border-radius: 3px;
      border: 1px solid $header-bootom-line-color;
      text-align: center;
      margin: 0 6px;
      background-color: transparent;
    }
  }
  .page-wrapper{
    .button{
      color: $pagination-fontColor;
      background-color: transparent;
      border: 1px solid $header-bootom-line-color;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        color: $font-default-color;
        border-color: $calender-select-hover-bgColor;
        background-color: $calender-select-hover-bgColor;
      }
    }
    .button.min{
      width: 30px;
      min-width: 30px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      padding: 0;
      margin: 0 3px;
    }
    .button.active{
      background-color: $dominant-hue;
      color:#fff;
      border-color: $dominant-hue;
    }
    .button.disabled{
      display: none;
    }
    .prev{
      min-width: 50px;
      height: 25px;
      padding: 0;
      line-height: 25px;
      margin-right: 12px;
    }
    .next{
      min-width: 50px;
      height: 25px;
      padding: 0;
      line-height: 25px;
      margin-left: 12px;
    }
  }
}
