$header-bootom-line-color:#d8d8d8;
$column-hover-bgColor:#fee5e9;
$form-th-bgColor:#f8f8f8;//表格表头背景颜色
$td-border-color:#eee;//表格td边框色
$table-column-min-width:50px;//表格默认最小列宽
$label-table-fontColot:#626161;
$font-default-color: #6f6f79;//字体默认颜色
$table-header-bg-color:#e1e9f4;//表格头部颜色
//表格样式
.table-mod{
  overflow-y: hidden;
  overflow-x: auto;
  min-height:1%;
  .table{
    min-width: 100%;
    background-color: #fff;
    border:1px solid $header-bootom-line-color;
    tr{
      &:hover{
        background-color: $column-hover-bgColor;
        transition: background-color .1s linear;
      }
      background-color: transparent;
      transition: background-color .1s linear;
      &.rowHeader{
        background: #F8F8F8;
        td{
          text-align: left;
          border-top:1px solid $header-bootom-line-color;
          border-bottom: none;
          span{line-height: 1}
        }
      }
      th{
        background-size: auto 100%;
        background-color: $form-th-bgColor;
        text-align: center;
        vertical-align: middle;
        min-width: $table-column-min-width;
        font-size: 14px;
        padding: 15px 0;
        //IE8 hank
        background-image: none\0;
        background-color: #ebebeb\0;
        span{
          display: inline-block;
          color: $label-table-fontColot;
          i{
            display: inline-block;
            color: red;
            margin-right: 10px;
            position: relative;
            top: 2px;
          }
        }
      }
      td{
        text-align: center;
        vertical-align: middle;
        padding: 10px 20px;
        border-bottom: 1px solid $td-border-color;
        font-size: 14px;
        >span{
          display: inline-block;
          font-size: 14px;
          color: $label-table-fontColot;
          line-height:16px;
          max-width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .warning{
          color: #ff731f;
          font-weight: bold;
        }
        .price{
          color: $font-default-color;
        }
        .danger{
          color: red;
        }
        .normal{
          color: #535353;
        }
        a{
          text-decoration: none;
          display: block;
          padding: 3px 0;
          color: #009cff;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &.shadow{
        background-color: #3fc7fa;
        &:hover{
          td{
            background-color: $column-hover-bgColor;
            transition: background-color .1s linear;
          }
        }
        td{
          background-color: #fdfcfc;
          transition: background-color .1s linear;
        }
      }
    }
  }
  .table.table-bordered{
    border-top:1px solid #bfbfbf;
    border-bottom:1px solid #bfbfbf;
    tr {
      th{
        border-left: 1px solid #bfbfbf;
        background-image: none;
        border-bottom:1px solid #bfbfbf;
        background-color: $table-header-bg-color;
        &:first-child{
          border-left: none;
        }
      }
      td{
        border-left: 1px solid $header-bootom-line-color;
        &:first-child{
          border-left: none;
        }
      }
    }
  }
}
